name: Java CI (Simple)
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - name: Set up Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - name: Build with Maven
        run: mvn --batch-mode -Dtestfx.robot=glass -Dtestfx.headless=true -Djava.awt.headless=true -Dprism.order=sw verify -DskipTests
